<ion-view class="circle" on-swipe="closeInput()" hide-nav-bar="bigImage">
    <ion-nav-buttons side="left" >
        <a class="button button-clear" ui-sref="tab.found" nav-direction="back">
            <i class="icon ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a href="" class="button button-clear" ng-click="openModal()">
            <i class="icon ion-ios-camera"></i>                    
        </a>
    </ion-nav-buttons>
    <ion-nav-title>
        朋友圈
    </ion-nav-title>
    <!-- 点击图片放大 -->
    <ion-content id="rightDisplay" ng-if="bigImage"  class="popover-backdrop" style="background-color:#000;height:100%;z-index:10;width:100%;" ng-click="hideBigImage()">

        <!-- 点击看大图，右滑看下一张 -->
        <ion-slide-box active-slide="myActiveSlide" style="width:100%;height:100%;background-color:#000;">
            <ion-slide ng-repeat="item in Url track by $index">
                <div class="inner">
                    <img class="img-responsive" style="z-index:10;width:100%;" src="{{item}}">
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
    
    <ion-content>
        <!-- 更换封面浮动框按钮 -->
        <script id="change-popover.html" type="text/ng-template">
            <ion-popover-view class="change" style="height:70px">
            <ion-content scroll="false">
                <ion-list>
                <ion-item ui-sref="changeBg" ng-click="closeChangePopover()">更换相册封面</ion-item>
                </ion-list>
            </ion-content>
            </ion-popover-view>
        </script> 


        <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
        
        <!-- 发动态 -->
        <script class="modal" id="templates/modal.html" type="text/ng-template">
            <ion-modal-view>
            <ion-header-bar class="bar bar-dark">
                <a ng-click="closeModal()" class="button button-clear">
                    <i class="icon ion-android-arrow-back"></i> 
                </a>
                <a class="button button-balanced" ng-click="createTrends(newContent);closeModal()">发送</a>
            </ion-header-bar>
            
            <ion-content>
                <ion-list>
                    <label class="item item-input">
                    <input type="text" placeholder="这一刻的想法..." ng-model="newContent.text"><br>
                </label>
                <ion-item>
                    <!-- <div class="image">
                        <img ng-src={{userFace}}>
                    </div> -->
                    <div class="out">
                        <div class="image" ng-repeat="item in imgSrc track by $index" style="width:40px;height:40px"  ng-click="removePhoto(imgSrc,item)">
                            <img src="{{item}}"  alt=""/>
                        </div>
                    </div>

                    <br>
                    <span class="add" ng-click="takephoto()" ng-show="limit">
                        <i class="icon ion-camera"></i>
                    </span>
                    <span class="add" ng-click="captureVideo()" ng-show="limit && vShow">
                        <i class="icon ion-videocamera"></i>
                    </span>
                    <span class="add" ng-click="selectphoto()" ng-show="limit">
                        <i class="icon ion-images"></i>
                    </span>
                    <span class="add" ng-click="selectVideo()" ng-show="limit && vShow">
                        <i class="icon ion-ios-film"></i>
                    </span>
                    <div class="location">
                        <i class="icon ion-android-pin" ng-class="{true: 'green'}[got3]" style="font-size:25px;"></i>
                       
                        <span ng-click="getlocation()" style="display:inline-block;white-space: normal">{{myGeoPostion}}</span>
                        <span ng-click="notLocate()" ng-show="got2" style="display:block;margin-left:280px;">不显示</span>
                        <div id="container" ng-show="got">
                        </div>
                    </div>
                </ion-item>
                <div class="item item-divider"></div>
                <ion-item>
                    <i class="icon ion-earth" style="font-size:25px;"></i>
                    <span>谁可以看</span>
                </ion-item>
                <ion-item>
                    <i class="icon ion-at" style="font-size:25px;"></i>
                    <span>提醒谁看</span>
                </ion-item>
                </ion-list>
            </ion-content>
            </ion-modal-view>
        </script>

        <!-- 朋友圈主体 -->
        <ion-list>
            <div class="header">
                <div class="bg" ng-click="openChangePopover($event)">
                    <img src="{{img.bgImg}}" id="bg">
                </div>
                <div class="tx">
                    <img src="{{userFace}}" alt="我是头像">
                </div>
                <div class="myName"><span>{{userName}}</span></div>
                
            </div>
            <div class="do"></div>
            <ion-item class="item-remove-animate item-avatar content" ng-repeat="chat in chats">
                <img alt="我是头像" ng-src="{{chat.face}}" ui-sref="circle-detail({chatId:'{{chat.id}}',state:'friendCircle'})">
                <h2>{{chat.name}}</h2>
                <p>{{chat.lastText}}</p>
 
                            <video ng-src="{{chat.circleImg[0]}}" controls="controls" width="250px" ng-if="showVideo($index)">
                            </video>
                            
                            <!-- <img ng-src="{{chat.circleImg}}" class="contentImg" ng-if="showPhoto($index)"  ng-click="showBigImage(chat.circleImg)"> -->

                            <!-- 多图显示-->
                            <div style="display:flex;flex-direction:row;width:270px;flex-wrap:wrap" ng-if="showPhoto($index)">
                                <div style="width:85px;height:85px;overflow:hidden;margin-right:5px;margin-top:5px" ng-repeat="item in chat.circleImg track by $index">
                                    <img style="width:100%;" ng-src="{{item}}" ng-click="showBigImage(chat.circleImg,$index)">
                                </div>   
                            </div>
                            
                                <p ng-show="geoShow" style="margin-top:12px;display:block;color:#666;">{{chat.geo}}</p>
                                <p class="time">{{chat.circleTime}}&nbsp;&nbsp;
                                    <span ng-show="'{{chat.name}}'==='{{userName}}'" ng-click="deleteMine({{chat}},$index)">删除</span>
                                </p>
                <button class="button button-light button-clear" ng-click="com();getIndex($index)" >
                    <i class="icon ion-android-textsms" ></i>                        
                </button>
                <button class="button button-light button-clear" ng-click="chat.like=!chat.like">
                    <i class="icon ion-android-favorite-outline" ng-class="{true: 'assertive'}[chat.like]"></i>
                </button>
                <div class="comment" ng-click="getIndex1($index)">
                    <div class="like" ng-show="chat.like">{{userName}}</div>
                    <a ng-show="true"  ng-click="openPopover($event,comment.name);getIndex2($index)" ng-repeat="comment in chat.comment" class="text">{{comment.name}}&nbsp;&nbsp;:&nbsp;&nbsp;{{comment.content}}</a>
                </div>
            </ion-item>
        </ion-list>



            <!-- 复制 删除 -->
            <script id="copyOrDelete.html" type="text/ng-template">
                <ion-popover-view class="cd">
                <ion-content scroll="false">
                    <ion-list>
                    <ion-item ng-click="closePopover()">复制</ion-item>
                    <ion-item ng-click="delete();closePopover()">删除</ion-item>
                    </ion-list>
                </ion-content>
                </ion-popover-view>
            </script> 
    </ion-content>

    <ion-footer-bar keyboard-attach class="bar-stable item-input-inset" ng-show="showKey">
        <label class="item-input-wrapper">
          <input type="text" placeholder="评论一下..." on-return="sendComment()" ng-model="comment.content" on-focus="inputUp()" on-blur="inputDown()" />
        </label>
        <button class="button button-clear" ng-click="sendComment()">
          发送
        </button>
    </ion-footer-bar>
</ion-view>
