<ion-view class="wallet">
    <ion-nav-buttons side="left" >
        <a class="button button-clear" ui-sref="tab.me" nav-direction="back">
            <i class="icon ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a href="" class="button button-clear">
            <i class="icon ion-android-apps"></i>                    
        </a>
    </ion-nav-buttons>
    <ion-nav-title>
        钱包
    </ion-nav-title>
    <ion-content>
        <ion-pane>
            <p class="money">￥423425.00</p>
        </ion-pane>
        <div class="row header">
            <div class="col">
                <i class="icon ion-android-checkbox-outline"></i>
                <p>收付款</p>
            </div>
            <div class="col">
                <i class="icon ion-cash"></i>
                <p>零钱</p>
            </div>
            <div class="col">
                <i class="icon ion-card"></i>
                <p>银行卡</p>
            </div>
        </div>
        <div class="below">
            <div class="item item-divider">腾讯服务</div>
            <div class="row">
                <div class="col">
                    <i class="icon icon ion-card balanced"></i>
                    <p>信用卡还贷</p>
                </div>
                <div class="col">
                    <i class="icon ion-social-yen positive"></i>
                    <p>手机充值</p>
                </div>
                <div class="col">
                    <i class="icon ion-android-checkbox-outline positive"></i>
                    <p>理财通</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <i class="icon ion-android-checkbox-outline balanced"></i>
                    <p>生活缴费</p>
                </div>
                <div class="col">
                    <i class="icon ion-android-checkbox-outline positive"></i>
                    <p>Q币充值</p>
                </div>
                <div class="col">
                    <i class="icon ion-android-checkbox-outline balanced"></i>
                    <p>城市服务</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <i class="icon ion-android-checkbox-outline"></i>
                    <p>零钱</p>
                </div>
                <div class="col">
                    <i class="icon ion-android-checkbox-outline"></i>
                    <p>零钱</p>
                </div>
                <div class="col">
                    <i class="icon ion-android-checkbox-outline"></i>
                    <p>零钱</p>
                </div>
            </div>
            
            <div class="item item-divider">限时推广</div>
            <div class="row">
                <div class="col col-33">
                    <i class="icon ion-android-checkbox-outline"></i>
                    <p>零钱</p>
                </div>
            </div>

            <div class="item item-divider">第三方服务</div>
            <div class="row">
                <div class="col">
                    <i class="icon ion-android-checkbox-outline"></i>
                    <p>零钱</p>
                </div>
                <div class="col">
                    <i class="icon ion-android-checkbox-outline"></i>
                    <p>零钱</p>
                </div>
                <div class="col">
                    <i class="icon ion-android-checkbox-outline"></i>
                    <p>零钱</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <i class="icon ion-android-checkbox-outline"></i>
                    <p>零钱</p>
                </div>
                <div class="col">
                    <i class="icon ion-android-checkbox-outline"></i>
                    <p>零钱</p>
                </div>
                <div class="col">
                    <i class="icon ion-android-checkbox-outline"></i>
                    <p>零钱</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <i class="icon ion-android-checkbox-outline"></i>
                    <p>零钱</p>
                </div>
                <div class="col">
                    <i class="icon ion-android-checkbox-outline"></i>
                    <p>零钱</p>
                </div>
                <div class="col">
                    <i class="icon ion-android-checkbox-outline"></i>
                    <p>零钱</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>