/* Empty. Add your own CSS if you like */
/* 头部 */
/* 微信标题离左边 */
span.nav-bar-title{
    margin-left:6px !important;
}
/* 头部按钮之间的距离 */
a.search,a.more{
    margin-left: 15px;
    margin-right: 10px;
}



/* tab-chats界面 */

.item h2{
    margin-left: 5px;
    margin-bottom:5px;
}
.item p{
    margin-left: 5px;
}
.tab-chats a.item-content{
    padding:13px 15px 13px 75px !important;
}
.tab-chats a.item-content div.tab-chats{
    width:200px;
    float:left;
}
.item p.chat-time{
    display: inline-block;
    position: absolute;
    right: 16px;
    top: 10px;
    font-family: "Times";
    font-size:15px;
    color:#bbb;
}

.moreList a.item-content{
    background-color: #3D3D3D;
    padding: 5px;
    color: #fff;
    font-size: 20px;
    line-height: 70px;
    padding-left:20px;
}

/* tab-friends页面 */

.tab-firends ion-item{
    padding:0px !important;
    display: flex !important;
    align-items: center !important;
}
.tab-firends a.item-content{
    padding: 7px 16px 7px 16px;
}
.tab-firends ion-item.item-divider span{
    margin: 7px 16px 7px 16px;    
}
.tab-firends ion-item img{
    width:40px;
    height:40px;
    margin-right:10px;
}
.tab-firends a.item-content{
    width: 100%;
    height: 100%;
}
.tab-firends ion-item p{
    display: inline-block;
    line-height: 40px;
}  
/* friendInfo */
.friendInfo{
    background-color: RGB(245,245,245);
}
.friendInfo img.touxiang{
    width: 70px;
    float: left;
    margin-left: 7px;
    margin-right: 15px;
}
.friendInfo span.name{
    display: inline-block;
    margin-top: 10px;
    color:black;
    font-size: 20px;
}
.friendInfo p.id{
    margin-top: 10px;
    color: #bbb;
}
.friendInfo div.btn{
    margin:5%;
    width: 90%;
}



/* tab-found页面 */

.tab-found{
    background-color: #ebebeb;
}
.tab-found img{
    width: 25px;
    float: left;
    margin-left: 7px;
    margin-right: 15px;
}





/* tab-me页面 */
.tab-me{
    background-color: RGB(245,245,245);
}
  .tab-me img{
    width: 25px;
    float: left;
    margin-left: 7px;
    margin-right: 15px;
}
.tab-me ion-item.myInfo img.touxiang{
    width: 70px;
    height: 70px;
    float: left;
}
  .tab-me ion-item.myInfo img.erweima{
    width: 30px;
    position: relative;
    top: 20px;
    float: right;
}
  .tab-me ion-item.myInfo span.name{
    display: inline-block;
    margin-top: 10px;
    color:black;
    font-size: 20px;
}
  .tab-me ion-item.myInfo p.id{
    margin-top: 10px;
    color: #bbb;
}



/* tab-chats */
/* .tab-chats div.more{
    background-color: pink;
    height: 100px;
    width:100px;
    position: absolute;
    top: 0px;
    right: 20px;
    z-index:10;
} */




/* search页面 */
input[type='search']{
    /* background-color: rgba(0, 0, 0, 0); */
    width: 260px;
}



/* 朋友圈界面 */
.circle ion-content div.bg{
   
    width: 100%;
    height:375px;
    overflow: hidden;
}
.circle ion-content div.bg img{
    width: 100%;
}
.circle div.do{
    margin-top: 340px;
    width: 100%;
}
.circle ion-content div.tx{
    background-color: #fff;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 320px;
    right: 15px;
    box-shadow: 1px 1px 5px #222;
    z-index: 100;
}
.circle ion-content div.tx img{
    width: 90%;
    height: 90%;
    position: relative;
    top: 5%;
    left: 5%;
    z-index: 100;
}
.circle ion-content div.myName{
    width: 100px;
    height: 30px;
    position: absolute;
    top:340px;
    right: 130px;
}
.circle ion-content div.myName span{
    float: right;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-shadow: 2px 2px 1px #000;
}
.circle ion-content ion-list div.header{
    height: 440px;
    position:absolute;
    top: -100px;
    padding: 0px;
    margin: 0px;
}
.circle ion-content ion-list{
    border: 0px;
}
.circle ion-content ion-item{
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
}
.circle ion-content ion-item.content h2{
    position: relative;
    top: -5px;
    color: #576b95;
}
.circle ion-content ion-item.content p{
    position: relative;
    top: -5px;
    color: #353535;
}
.circle ion-content ion-item.content img.contentImg{
    width: 250px;
    position: relative;
    left: 6px;
    display: block;
}
.circle ion-content ion-item.content p.time{
    margin-top: 15px;
    color: #808080;
    display: inline-block
}
.circle ion-content ion-item.content button{
    float:right;
}
/* 评论 */
div.comment{
    width: 90%;
    margin:auto 0;
    margin-left: 12px;
    background-color: #eee;
    border-radius: 5px;
}
div.comment div{
    margin: 5px 5px 5px 5px;
}
div.comment div.like{
    border-bottom: 1px solid #ccc;
}



/* 我的钱包 */
.wallet ion-content div.header{
    height: 150px !important;
    background-color: #686f78 !important;
}
.wallet ion-content div.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
.wallet ion-content div.header div.col i{
    color:#fff;
    font-size: 44px;
}
.wallet ion-content div.header div.col p{
    margin-top: 12px;
    color:#fff;
    font-size: 16px;
}
/* .wallet ion-content div.header div.col p.money{
    color:#b4b7bc;
    margin-top: 0px;
} */
/* below */
.wallet ion-content div.below div.row{
    height: 100px;
}
.wallet ion-content div.below div.item{
    color: 666666;
}
.wallet ion-content div.below div.col{
    border: 1px solid #ececec;
    color: #666666;
}
.wallet ion-content div.below div.col i{
    font-size: 35px;
}
.wallet ion-content div.below div.col p{
    margin-top: 8px;
    font-size: 14px;
}
.wallet ion-pane{
    z-index: 1000;
    height: 30px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 115px;
    margin-left: 35%;
    color: #b3b6bb;
}
.wallet ion-pane p.money{
    text-align: center;
}

/* 设置 */
.setting{
    background-color: RGB(245,245,245);
}

.setting-new{
    background-color: RGB(245,245,245);
}

/* 聊天框 */

.messages {
  margin-top: 10px !important;
}
.message {
    flex: 1 1 auto !important;
    padding: 10px !important;
    transition: all 250ms ease-in-out !important;
    overflow: hidden !important;
    text-align: left !important;
    transform: translate3d(0, 0, 0) !important;
}
.time {
  width: 120px !important;
  margin: 0 auto;
  padding: 0 0 0 0 !important;
  transition: all 250ms ease-in-out !important;
  transform: translate3d(10px, 0, 0) !important;
}
.messages.other .message {
    transform: translate3d(0, 0, 0) !important;
    text-align: right !important;
}
.message img{
    margin: 5px;
    margin-top: -5px;
    float: left;
}
.messages.other .message img{
    float: right;
}
.messages.other .message.slide-right{
    transform: translate3d(120px, 0, 0) !important;
}
.messages.other span.message{
    color: black !important;
    background: rgb(160,230,88) !important;
}
span.message {
  background-color: #C7C7CC !important;
  display: inline-block !important;
  color: white !important;
  padding: 10px !important;
  border-radius: 10px !important;
  text-align: right !important;
  max-width: 240px !important;
}


.modal{
    background-color: RGB(245,245,245)
}
.modal label{
    height: 250px;
    position: relative;
}
.modal label input{
    position: absolute;
    top: 15px;
}
.modal label div.image{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 120px;
    left: 15px;
}
.modal label div.image img{
    width:100%;
}
.modal label div.location{
    position: absolute;
    top:200px;
}
.modal ion-list i{
    color: #ccc;
}